footer:not(.shopping-cart-footer) {
  background-color: var(--clr-primary-500);
  color: #fff;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: var(--wrapper-width);
  margin: auto;
}

.footer-section {
  width: 30%;
  margin: 15px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-section input {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.footer-section button {
  background-color: var(--clr-primary-400);
  color: rgb(255, 255, 255);
  padding: 10px 16px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.footer-section button:hover {
  background-color: var(--clr-primary-300);
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }

  .footer-section input {
    width: 50%;
  }

  .footer-section button {
    width: auto;
  }
}
