:root {
  --wrapper-width: min(1168px, 100% - 2rem);
  --header-height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  --clr-primary-400: hsl(123, 91%, 33%);
  --clr-primary-500: hsl(210, 2%, 56%);
}
